<configuration>
  <appender name="file" class="ch.qos.logback.core.FileAppender">
    <file>${log.file}</file>
    <append>false</append>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{60} %X{sourceThread} - %msg%n</pattern>
    </encoder>
  </appender>
  <root level="INFO">
    <appender-ref ref="file"/>
  </root>
  <logger name="akka" level="INFO">
    <appender-ref ref="file"/>
  </logger>
  <logger name="org.apache.kafka" level="INFO">
    <appender-ref ref="file"/>
  </logger>
  <logger name="org.apache.hadoop" level="INFO">
    <appender-ref ref="file"/>
  </logger>
  <logger name="org.apache.zookeeper" level="INFO">
    <appender-ref ref="file"/>
  </logger>
  <logger name="org.jboss.netty.channel.DefaultChannelPipeline" level="ERROR">
    <appender-ref ref="file"/>
  </logger>
</configuration>
